$purple-color: #380158;
$purple-color2: #26003B;

$green-color: #0dc74f;
$green2-color: #0FCE33;
$green3-color: #0AAA28;

$text-white: #FFF;
$gray-color: #AFAFAF;

$gray2-color: #4A4A4A;
$gray3-color: #C9C9C9;
$gray4-color: #F7F7F7;
$gray5-color: #606060;